* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.intro-chunk {
  padding: 20px;
  line-height: 1.4;
  font-size: 1.2rem;
  max-width: 70%;
}

.max-width-wrapper > .intro-chunk > .title {
  margin-bottom: 3rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: darkgray;
  box-shadow: 0px -4px 1px 0px #666566;
}

.max-width-wrapper {
  padding: 20px;
  max-width: 70%;
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 24px;
  margin-top: 4rem;
  margin-bottom: 3rem;
  box-shadow: 0px 5px 1px 0px #666566;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 20px;
  margin-top: -16px;
  margin-left: -40px;
  box-shadow: 0px 7px 1px 0px hsl(45deg, 100%, 40%);
}
